@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	transition: 0.5s;
}
section {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo {
	position: relative;
	max-width: 80px;
}
header ul {
	position: relative;
	display: flex;
}

header ul.nagivation.active {
	position: fixed;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #017143;
	z-index: 10;
	border-radius: 40px 0 0 0;
}
header ul.nagivation.active a {
	color: #fff;
}
.toggle {
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url(../images/menu.png);
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	filter: invert(1);
	display: none;
}
.toggle.active {
	position: fixed;
	right: 20px;
	background: url(../images/close.png);
	background-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 11;
	filter: invert(0);
}
header ul li {
	list-style: none;
}
header ul li a {
	display: inline-block;
	color: #333;
	font-weight: 400;
	text-decoration: none;
	transition: 0.4s;
	margin-left: 40px;
}
header ul li:hover a,
.activate {
	transform: scale(1.2);
}
.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox {
	position: relative;
	max-width: 600px;
}
.content .textBox h2 {
	color: #333;
	font-size: 4em;
	line-height: 1.4em;
	font-weight: 500;
}
.content .textBox h2 span {
	color: #017143;
	font-size: 1.2em;
	font-weight: 900;
}
.content .textBox p {
	color: #333;
}
.content .textBox a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #017143;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
}
.content .imgBox {
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 50px;
}
.content .imgBox img {
	transition: 0.5s;
	max-width: 340px;
}
.content .imgBox img:hover {
	transform: scale(1.2) rotate(20deg) translateX(20px);
}
.thumb {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}
.thumb li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.thumb li:hover {
	transform: translateY(-15px);
}
.thumb li img {
	max-width: 60px;
}
.sci {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}
.sci li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.sci li a {
	display: inline-block;
	margin: 5px 0;
	transform: scale(0.6);
	transition: 0.5s;
	filter: invert(1);
}
.sci li a:hover {
	transform: scale(0.6) rotate(360deg);
}
.circle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #017143;
	clip-path: circle(600px at right 800px);
	transition: 0.5s;
}
@media (max-width: 991px) {
	header {
		padding: 20px;
	}
	header .logo {
		max-width: 60px;
	}
	header ul {
		display: none;
	}
	section {
		padding: 20px 20px 120px;
	}
	.content {
		flex-direction: column;
		margin-top: 100px;
	}
	.content .textBox h2 {
		font-size: 2.5em;
		margin-bottom: 15px;
	}
	.content .textBox {
		max-width: 100%;
	}
	.circle {
		clip-path: circle(400px at center bottom);
	}
	.content .imgBox {
		width: 100%;
		justify-content: center;
	}
	.content .imgBox img {
		max-width: 300px;
	}
	.thumb li img {
		max-width: 40px;
	}
	.sci li a {
		filter: invert(0);
		transform: scale(0.5);
	}
	header ul li a {
		font-size: 1.5em;
		margin: 5px 0;
	}
	.toggle {
		display: block;
	}
}
