//Colors
//Gradients

$Light-Magenta: hsl(293, 100%, 63%);
$Light-Violet: hsl(264, 100%, 61%);

//Secondary

$White: hsl(0, 0%, 100%);
$Light-Grayish-Violet: hsl(270, 20%, 96%); //app background
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); //submit button background
$Very-Light-Magenta: hsl(289, 100%, 72%); //radio button outline
$Very-Light-Magenta-1: hsl(289, 100%, 95%); //radio button outline
//Typography
$Pale-Violet: hsl(276, 100%, 81%); //sub-heading at the top of the app UI
$Moderate-Violet: hsl(276, 55%, 52%); //chat on the left
$Desaturated-Dark-Violet: hsl(270, 15%, 18%); //chat on the right
$Grayish-Blue: hsl(206, 6%, 79%); //placeholder text
$Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%); //main heading
$Dark-Grayish-Violet: hsl(270, 7%, 64%); //paragraph
