@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	padding: 1rem 2rem;
	height: 100vh;
	position: relative;
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
}
header::before {
	width: 30%;
	position: absolute;
	content: '';
	height: 60vh;
	background: #000;
	top: -2rem;
	z-index: 0;
	left: 10%;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	.logo-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 60vw;
		.logo {
			color: #fff;
			position: relative;
			z-index: 1;
		}
		ul {
			display: flex;
			align-items: center;
			li {
				margin-right: 3rem;
				a {
					color: #333;
					position: relative;
					display: inline-block;
					transition: 0.3s;
					&.active,
					&:hover {
						color: #f00;
					}
					&.active::after {
						content: '';
						position: absolute;
						width: 5px;
						height: 5px;
						background: red;
						bottom: 0;
						left: 50%;
						transform: translateY(0.5rem);
						display: inline-block;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.user-cart {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		.user-logo {
			position: relative;

			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 1px solid red;
				margin-left: 0.5rem;
			}
			&::after {
				content: '';
				background-color: #f00;
				position: absolute;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				top: 0;
				right: -3px;
			}
		}
	}
}
section {
	width: 100vw;
	height: 90vh;
	display: grid;
	grid-template-columns: 20px auto;
	.vertical-menu {
		ul {
			display: flex;
			gap: 3rem;
			transform-origin: left center;
			transform: translateY(60vh) rotate(-90deg);
		}
	}
	.hero-section {
		.main-hero {
			display: flex;
			gap: 2rem;
			justify-content: center;
			align-items: center;
			width: 80%;
			.img-food {
				position: relative;
				z-index: 10;
				img {
					transform: translate(0, -50px);
				}
			}
		}
	}
}
