@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
h2 {
	font-size: 6em;
	text-align: center;
}
h2 span {
	position: relative;
	display: inline-flex;
	color: #03a9f4;
}
h2 span:nth-child(odd) {
	color: #414141;
	line-height: 1em;
	overflow: hidden;
	letter-spacing: -1em;
	transition: 0.5s ease-in-out;
}
h2:hover span:nth-child(odd) {
	letter-spacing: 0;
}
h2 span:nth-child(2) {
	margin-right: 10px;
}
h2 span:nth-child(2)::after {
	content: '2';
	position: absolute;
	bottom: 0;
	right: -10px;
	font-size: 0.35em;
}
h2 i {
	position: absolute;
	transform: translateX(-50%);
	font-size: 1.1rem;
	color: #777;
	font-weight: 400;
	font-style: initial;
	line-height: 1em;
}
h2 i::before {
	position: absolute;
	text-align: center;
	content: 'Oxygen';
	width: 100%;
	display: initial;
	transition: 0.5s;
}
h2:hover i::before {
	opacity: 0;
	letter-spacing: 2em;
}
h2 i::after {
	content: 'Help India Breathe Again';
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
h2:hover i::after {
	opacity: 1;
	visibility: visible;
}
