body {
    background-color: blueviolet;
}

#background {
    background-color: #f5edd0;
    height: 500px;
    width: 1500px;
}

#portrait, #mac, #table, #keyboard, #pot {
    height: fit-content;
    position: absolute;
    width: fit-content;
}

/* PORTRAIT*/
#portrait {
    background-color: #6a90a6;
    border-top: #915f3c solid 10px;
    border-left: #915f3c solid 10px;
    border-right: #734c30 solid 10px;
    border-bottom: #734c30 solid 10px;
    border-radius: 10px;
    height: 140px;
    width: 100px;
    transform: translate(900px, 80px);
}

#portraithead, #portraitbehindhead, #portraitbody {
    position: absolute;
}

#portraithead {
    background-color: #011724;
    border-radius: 100%;
    height: 50px;
    transform: translate(25px, 55px);
    width: 50px;
    z-index: 2;
}

#portraitbehindhead {
    background-color: #6a90a6;
    border-radius: 100%;
    height: 60px;
    transform: translate(20px, 47px);
    width: 60px;
    z-index: 1;
}

#portraitbody {
    background-color: #011724;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
    height: 50px;
    transform: translateY(90px);
    width: 100px;
}

/* MAC */
#mac {
    transform: translate(654px, 137px);
}

#macback, #macmonitor {
    border-radius: 10px;
}

#macback {
    background-color: #696969;
    height: calc(12*9px);
    width: calc(12*16px);
}

#macmonitor {
    background: linear-gradient(to bottom left, #404040 50%, #1f1f1f 50%);
    height: calc(11*9px);
    width: calc(11.5*16px);
    transform: translate(4px, 4.5px);
}

#code {
    height: 70px;
    width: 148px;
    transform: translate(20px, 19px);
}

.codelines {
    background-color: red;
    border-radius: 4px;
    height: 4px;
    margin-top: 3px;
}

#codeline1 {
    width: 80%;
}

#codeline2 {
    display: inline-block;
    width: 10%;
}

#codeline3 {
    display: inline-block;
    width: 40%;
}

#codeline4 {
    width: 60%;
}

#codeline5 {
    display: inline-block;
    width: 36%;
}

#codeline6 {
    display: inline-block;
    width: 18%;
}

#codeline7 {
    display: inline-block;
    width: 27%;
}

#codeline8 {
    width: 43%;
}

#codeline9 {
    display: inline-block;
    width: 23%;
}

#codeline10 {
    display: inline-block;
    width: 56%;
}

#macstand {
    background-color: #545454;
    height: fit-content;
    width: fit-content;
    transform: translateX(76px);
}

#macstandtop, #macstandbot {
    width: 40px;
}

#macstandtop {
    height: 20px;
}

#macstandbot {
    background-color: #c9c9c9;
    height: 10px;
}

/* POT */
#pot {
    transform: translate(550px, 168px);
    z-index: 1;
}

#flowerhead {
    background-color: #fae848;
    border-radius: 100%;
    height: 30px;
    position: relative;
    transform: translateX(15px);
    width: 30px;
    z-index: 2;
}

.flowerpetals {
    background-color: white;
    border-radius: 100%;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 1;
}

#flowerpetal1 {
    left: 3px;
    top: 3.5px;
}

#flowerpetal2 {
    left: 14px;
    top: -13px;
}

#flowerpetal3 {
    right: 15px;
    top: -7px;
}

#flowerpetal4 {
    right: 14px;
    top: 13px;
}

#flowerpetal5 {
    left: 15px;
    top: 20px;
}

#flowerstem {
    background-color: green;
    height: 40px;
    transform: translateX(28px);
    width: 4px;
}

#potleft {
    border-color: transparent #a32100 transparent transparent;
    border-style: solid;
    border-width: 0 20px 40px 0;
    display: inline-block;
    height: 0;
    position: relative;
    transform: translateX(4px);
    width: 0;
    z-index: 1;
}

#potmid {
    background: linear-gradient(to bottom right, #a32100 50%, #7d1900 50%);
    display: inline-block;
    height: 40px;
    position: relative;
    width: 20px;
    z-index: 1;
}

#potright {
    border-color: #7d1900 transparent transparent transparent;
    border-style: solid;
    border-width: 40px 20px 0 0;
    display: inline-block;
    height: 0;
    position: relative;
    transform: translateX(-4px);
    width: 0;
    z-index: 1;
}

/* KEYBOARD */
#keyboard {
    transform: translate(690px, 253px);
    z-index: 1;
}

.keyboardkeys {
    background: linear-gradient(to bottom right, #5c5c5c 50%, #333 50%);
    border-radius: 4px;
    display: inline-block;
    height: 5px;
    margin-left: 3px;
    transform: translateY(4px);
    width: 10px;
}

#keyboardpad {
    background: linear-gradient(to bottom right, #303030 50%, #242424 50%);
    border-radius: 3px;
    height: 10px;
    width: 120px;
}

/* TABLE */
#table {
    transform: translate(550px, 275px);
}

#tabletop, #tablelegleft, #tablelegright {
    background: linear-gradient(to bottom right, #ab7435 50%, #91632f 50%);
}

#tabletop {
    border-radius: 4px;
    height: 25px;
    width: 400px;
}

#tablelegleft, #tablelegright {
    display: inline-block;
    height: 200px;
    width: 15px;
}

#tablelegleft {
    transform: translateX(20px);
}

#tablelegright {
    float: right;
    transform: translateX(-20px);
}