@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #161623;
	overflow: hidden;
}
section::before {
	content: '';
	position: absolute;
	height: 400px;
	width: 400px;
	background: linear-gradient(#ffc107, #e91e63);
	border-radius: 50%;
	transform: translate(-250px, -120px);
}
section::after {
	content: '';
	position: absolute;
	height: 350px;
	width: 350px;
	background: linear-gradient(#2196f3, #31ff38);
	border-radius: 50%;
	transform: translate(250px, 150px);
}
.box {
	position: relative;
	z-index: 1000;
}
.container {
	position: relative;
	width: 400px;
	min-height: 400px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(25px);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#dycalendar {
	width: 100%;
	padding: 20px;
}
#dycalendar table {
	width: 100%;
	margin-top: 40px;
	border-spacing: 5px;
}
#dycalendar table tr:nth-child(1) td {
	background-color: white;
	color: #111;
	border-radius: 4px;
	font-weight: 600;
}
#dycalendar table td {
	color: white;
	padding: 10px;
	cursor: pointer;
	border-radius: 4px;
}
#dycalendar table td:hover {
	background: #fff !important;
	color: #111 !important;
}
.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
	background: #fff !important;
	color: #111 !important;
}
.dycalendar-month-container
	.dycalendar-header
	.dycalendar-prev-next-btn.prev-btn {
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(25px);

	color: #111;
	width: 44px;
	left: 4px;
	height: 38px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.dycalendar-month-container
	.dycalendar-header
	.dycalendar-prev-next-btn.next-btn {
	backdrop-filter: blur(25px);
	background: rgba(255, 255, 255, 0.3);
	color: #111;
	width: 44px;
	right: 4px;
	height: 38px;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.dycalendar-month-container .dycalendar-span-month-year {
	color: #fff;
	font-size: 1.5em;
	font-size: 600;
}
