@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	height: 100vh;
	height: 100vh;
	width: 100%;
	display: grid;
	place-content: center;
	background: rgb(235, 245, 252);
}
.container {
	height: 60vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 2rem;
}
.card {
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	border: 4px solid rgba(255, 255, 255, 0.877);
	box-shadow: 0px 0px 23px 0px rgba(202, 202, 202, 0.75) inset;
	padding: 1.5rem;
}
.box {
	height: 100%;
	width: 100%;
	border-radius: 1rem;
	box-shadow: 0px 0px 23px 0px rgba(202, 202, 202, 0.75);
	background: rgb(246, 251, 255);
	transition: all 0.3s;
}
.content {
	position: relative;
	padding: 5rem 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content * {
	position: relative;
	z-index: 2;
}
.content h2 {
	position: absolute;
	top: 0;
	font-size: 8rem;
	font-weight: 800;
	right: 1.5rem;
	color: rgba(235, 245, 252, 0.726);
	z-index: 1;
}
.content h3 {
	color: rgb(110, 110, 110);
	margin-bottom: 0.5rem;
}
.content p {
	display: inline-block;

	font-size: 0.8em;
	line-height: 100%;
	margin-bottom: 2rem;
}
.content a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 0.5rem 1rem;
	width: fit-content;
	background: #05a4f2;
	border-radius: 1rem;
	box-shadow: 0px 10px 23px 0px rgba(202, 202, 202, 0.75);
	transition: 0.3s;
}
.card:hover .box {
	transform: translateY(-4rem);
	background: rgb(131, 58, 180);
	background: linear-gradient(
		190deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
	box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.5);
}
.card:hover .box .content {
	color: white;
}
.card:hover .content h2 {
	color: rgba(0, 0, 0, 0.164);
}
.card:hover .content h3 {
	color: aliceblue;
}
.card:hover .content a {
	background: #9a3599;
	box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.226);
}
a:hover {
	transform: scale(1.1);
}
